@import 'Styles/spacing.scss';
@import 'Styles/color.scss';
@import 'Styles/breakpoints.scss';

.wrapper {
	margin: $space-md 0;
	display: flex;
	gap: $space-sm;

	@include max-tablet-device {
		flex-direction: column;
	}
	
	&.imageLeft {
		flex-direction: wrap;
	}

	&.imageRight {
		flex-direction: row-reverse;

		@include max-tablet-device {
			flex-direction: column;
		}
	}

	.item {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		width: 50%;
		position: relative;

		@include max-tablet-device {
			width: 100%;
		}
	}
	
	.skillList {
		display: flex;
		gap: $space-xxs;
	}
}