@import 'Styles/breakpoints.scss';
@import 'Styles/spacing.scss';

.mainSection {
	display: flex;
	flex-direction: column;
	align-self: center;
	padding: $space-lg $space-sm;
	width: 100%;

	.container {
		display: flex;
		gap: $space-lg;

		@include max-mobile-device {
			flex-direction: column;
			gap: $space-md
		}
	}
	
	
	@include min-desktop-device {
		max-width: $desktop;
		padding: $space-lg 0;
  }
}


.buffer {
	height: $space-xxl * 1.6;;
}