@import 'Styles/color.scss';
@import 'Styles/spacing.scss';
@import 'Styles/typography.scss';
@import 'Styles/breakpoints.scss';

.footerSection {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: $dark-gray;
  color: $secondary-lighter-peach;
  padding: $space-md;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    @include desktop-device {
      max-width: $desktop;
    }

    .socialLinks {
      a {
        padding: 0 $space-xxs;
      }
    }

    .copyright {
      font-size: $text-xs;
    }
  }
}