@import 'Styles/color.scss';
@import 'Styles/spacing.scss';
@import 'Styles/typography.scss';

.footerContainer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: $dark-gray;
  color: $secondary-lighter-peach;
  padding: $space-md;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .socialLinks {
    a {
      padding: 0 $space-xxs;
    }
  }

  .copyright {
    font-size: $text-xs;
  }
}