$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;

@mixin mobile-device {
  @media (max-width: $mobile) {
      @content;
  }
}

@mixin tablet-device {
  @media (max-width: $tablet) {
      @content;
  }
}

@mixin desktop-device {
  @media (min-width: $desktop) {
      @content;
  }
}