@import './breakpoints';

.container {
  background-color:rgba(255, 236, 229, 0.5);
  position: relative;
  width: 100vw;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

:export {
  mobileBreakpoint: $mobile;
  tabletBreakpoint: $tablet;
  desktopBreakpoint: $desktop;
}