$bubble-size: 195vh;
$speed: 120s;
$saturation: 110%;

@function set-color($saturation) {
  $primary-green-hsl:hsl(185, 100%, $saturation);
  @return $primary-green-hsl;
}

.container {
  background-color:rgba(255, 236, 229, 0.5);
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

}

.bubble {
  width: $bubble-size * 1;
  height: $bubble-size;
  background-color: set-color($saturation * 0.35);
  border: ($bubble-size * .09) solid set-color($saturation * 0.38);
  position: absolute;
  top: calc(100% - (#{$bubble-size} * .49));
  left: calc(15% - (#{$bubble-size} * .49));
  overflow: hidden;
  border-radius: 48% 40% 62% 47% /  61% 49% 64% 43%;
  animation: rotate $speed infinite linear;
}

@keyframes rotate {
  0% { transform: rotate(1turn); }
}


.bubble:before {
  content: '';
  position: absolute;
  top: $bubble-size * .1;
  left: $bubble-size * .1;
  width: calc(100% - (#{$bubble-size} * .3));
  height: calc(100% - (#{$bubble-size} * .3));
  background: set-color($saturation * 0.3);
  border: ($bubble-size * .065) solid set-color($saturation * 0.33);
  border-radius: 41% 40% 50% 55% /  49% 52% 51% 43%;
  z-index: -2;
  animation: rotateBefore $speed infinite linear;
}

@keyframes rotateBefore {
  0% { transform: rotate(-2turn); }
}


.bubble:after {
	content: '';
	position: absolute;
	top: $bubble-size * .2;
	left: $bubble-size * .2;
	width: calc(100% - (#{$bubble-size * .5}));
	height: calc(100% - (#{$bubble-size * .5}));
	background: set-color($saturation * 0.25);
	border: ($bubble-size * .05) solid set-color($saturation * 0.28);
	border-radius: 42% 63% 51% 60% / 47% 62% 42% 52%;
	animation: rotateAfter $speed infinite linear;
}

@keyframes rotateAfter {
	0% { transform: rotate(2turn); }
}