@import './color.scss';
@import './typography';
@import './spacing';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: $text-base-size;
}

h1, h2, h3, h4, p {
    font-weight: 400;
}

h1 {
  font-size: $text-xxl;
  margin-bottom: $space-md;
}

h2 {
font-size: $text-xl;
  margin-bottom: $space-sm;
}

h3 {
  font-size: $text-lg;
  margin-bottom: $space-xs;
}

h4 {
    font-size: $text-md;
}

p {
    font-size: $text-sm;
    margin-bottom: $space-sm;
}
