@import './color.scss';
@import './spacing.scss';
@import './typography';

.mainContainer {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;

  header {
    color: $secondary-lighter-peach;
    padding: 0 $space-lg;
    z-index: 1;

    h1 {
      font-size: $text-xl * 2.5;
    }
  }

  ul {
    display: flex;
    gap: $space-md;

    li {
      font-family: 'Proza Libre';
      list-style-type: none;
      font-size: $text-xl;
      cursor: pointer;

      &:hover {
        border-bottom: calc($space-xxs / 2) solid white;
        margin-bottom: -$space-xxs;
      }
    }
  }
}
